html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke: 0.75px black;
}

.image-container .image {
  transition: 1s;
  transform-origin: center;
}

.animate-in {
  opacity: 1;
  filter: blur(0px);
}

.animate-out {
  opacity: 0;
  filter: blur(10px);
}

::selection {
  background-color: #303aa7;
  color: #ffffff;
}

.tippy-box {
  background-color: #007bff;
  color: white;
}

.tippy-arrow {
  color: #007bff;
}

.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 8px;
}

.modal::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: #303aa7;
}

.modal::-webkit-scrollbar-thumb:active {
  background-color: #303aa7;
}
