html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke: 0.75px black;
}

.image-container .image {
  transition: 1s;
  transform-origin: center;
}

.animate-in {
  opacity: 1;
  filter: blur(0px);
}

.animate-out {
  opacity: 0;
  filter: blur(10px);
}

::selection {
  background-color: #303aa7;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #525fe1;
}

::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0de36;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a89a18;
}
